@model Aula1.Models.Venda

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title =
    "Visualizando detalhes de uma Venda";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Dados da venda a ser removida
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.DescricaoVenda)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user">
                        </i>
                    </span>
                    @Html.EditorFor(model => model.DescricaoVenda, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="panel-footer panel-info">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Remover Venda" class="btn btn-danger" />
                @Html.ActionLink(
               "Retornar para a listagem",
               "Index", null, new { @class = "btn btn-info" })
            }
        </div>
    </div>
}
